.tooltip {
    /* triangle dimension */
    /* --b: 1em; base */
    --h: 1em; /* height */
  
    --p: 50%; /* triangle position (0%:left 100%:right) */
    --r: 5px; /* the radius */
    --dark-primary: #85292f;
    --light-primary: #b13941;
  
    position: absolute;
    /* transform: translateY(-45px); */
    transform: translate(-20px, -58px);
    border-radius: var(--r);
    background: var(--dark-primary);
    border-image: conic-gradient(var(--c) 0 0) fill 0/
      var(--r) calc(100% - var(--p) - var(--b)/2) 0 calc(var(--p) - var(--b)/2)/
      0 0 var(--h) 0;
  }
  

  .tooltip {
    color: #fff;
    font-size: 12px;
    font-weight: 800;
    padding: 4px 6px;
    max-width: 25ch;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
  }